/*
###############
- Debug
- Common
- Utilities
- MediaQuery
- Header
- Main
- Footer
###############
*/


/* #region Debug */
body
{
  background-color: #333;
}
/* #endregion Debug */


/* #region Common */

*
{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

:root
{
  --primary:#311852;
  --secondary:#4d36dc;
  --danger:#ff7a1f;
  --lightest:#ffffff;
  --lighter:#fff9f5;
  --light:#f7f0ff;
  --boring:#8d829c;
}

/* #endregion Common */


/* #region Utilities */
.container
{
  width: 80%;
  margin: 0 auto;
}

.my_btn
{
  padding: 1em 3em;
}
/* #endregion Utilities */


/* #region MediaQuery */

/* #region Desktops & Large screens */
@media screen and (max-width: 1200px)
{
   /* Desktops & Large screens */
}
/* #endregion Desktops & Large screens */

/* #region Small screens & Laptops */
@media screen and (max-width: 1024px)
{
   /* Small screens & Laptops */
}
/* #endregion Small screens & Laptops */

/* #region iPads & Tablets */
@media screen and (max-width: 768px)
{
   /* iPads & Tablets */
}
/* #endregion iPads & Tablets */

/* #region Mobile */
@media screen and (max-width: 480px)
{
   /* Mobile */
}
/* #endregion Mobile */

/* #endregion MediaQuery */


/* #region Header */
#header
{
  display: flex;
  justify-content: space-between;
  align-items: center;

  .center_header
  {
    display: flex;
    gap: 1em;
    color: var(--lightest);
  }
}
/* #endregion Header */


/* #region Main */

/* #endregion Main */


/* #region Footer */

/* #endregion Footer */

