/*
###############
- Debug
- Common
- Utilities
- MediaQuery
- Header
- Main
- Footer
###############
*/


/* #region Debug */
body {
  background-color: #333;
}

/* #endregion Debug */


/* #region Common */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Orbitron", sans-serif;
}

:root {
  --primary: #311852;
  --secondary: #4d36dc;
  --danger: #ff7a1f;
  --lightest: #ffffff;
  --lighter: #fff9f5;
  --light: #f7f0ff;
  --boring: #8d829c;
}

button {
  border-style: none;
}

/* #endregion Common */


/* #region Utilities */
.container {
  width: 80%;
  max-width: 1400px;
  margin: 0 auto;
}

.my_btn {
  padding: 1em 3em;
  border-radius: 30px;
}

.df {
  display: flex;
}

.just_center {
  justify-content: center;
}

.align_center {
  align-items: center;
}

.spacing {
  padding: 3rem 0;
}

.little_space {
  padding: 1rem 0;
}

.card {
  background-color: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  border: 1px solid var(--boring);
  padding: 1.5em;
  aspect-ratio: 3 / 4;
  justify-content: space-evenly;
  align-items: center;

  .card_icon {
    font-size: 100px;
  }

  .card_title {
    color: var(--primary);
    font-size: 40px;
  }

  .card_info {
    color: #333;
    font-size: 20px;
  }
}

/* #endregion Utilities */


/* #region MediaQuery */

/* #region Desktops & Large screens */
@media screen and (max-width: 1200px) {
  /* Desktops & Large screens */
}

/* #endregion Desktops & Large screens */

/* #region Small screens & Laptops */
@media screen and (max-width: 1024px) {
  /* Small screens & Laptops */
}

/* #endregion Small screens & Laptops */

/* #region iPads & Tablets */
@media screen and (max-width: 768px) {
  /* iPads & Tablets */
}

/* #endregion iPads & Tablets */

/* #region Mobile */
@media screen and (max-width: 480px) {
  /* Mobile */
}

/* #endregion Mobile */

/* #endregion MediaQuery */


/* #region Header */
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 0;
  /* background-image: url(../img/banner-bg.png); */

  .center_header {
    display: flex;
    gap: 1em;
    color: var(--lightest);
  }
}

/* #endregion Header */


/* #region Main */
#main {
  text-align: center;

  .slogan {
    h3:first-child {
      color: var(--danger);
    }

    h1 {
      font-size: 65px;
    }

    h1,
    h3 {
      color: var(--lighter);
    }

    .slogan_video {
      position: relative;

      .play {
        position: absolute;
        background-color: #a615ea;
        border-radius: 50%;
        padding: 1.8em 2em;
        font-size: 20px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        a {
          color: var(--lighter);
        }
      }
    }
  }

  .animation_love {

    h3 {
      color: var(--secondary);
    }

    h1 {
      color: var(--primary);
      font-size: 50px;
    }

    h5 {
      color: #333;
    }

    .our_skills_cards {
      display: flex;
      gap: 1em;
      justify-content: flex-end;

      .card {
        width: calc((100% / 12) * 3);

        .card_title {
          font-weight: bolder;
        }

        .socials {
          display: none;
        }
      }
    }
  }

  .quick_facts {
    h1 {
      color: var(--lighter);
      font-size: 50px;
    }

    .our_anidio_cards {
      display: flex;
      gap: 3em;
      justify-content: center;
      align-items: center;



      .card {
        width: calc((100% / 12) * 4);
        background-color: var(--secondary);
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 250px;

        .card_icon {
          display: none;
        }

        .card_title {
          color: var(--lighter);
          font-weight: bolder;
          font-size: 50px;
        }

        .card_info {
          color: var(--danger);
          font-size: 15px;
        }

        .socials {
          display: none;
        }
      }
    }
  }

  .our_works {

    h3 {
      color: var(--secondary);
    }

    h1 {
      font-size: 50px;
      color: var(--primary);
    }

    h5 {
      color: #333;
    }

    .our_works_cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 3em;
    }
  }

  .our_process {
    display: flex;

    .left {}

    .right {
      flex-basis: 50%;

      h3 {
        color: var(--secondary);
      }

      h1 {
        font-size: 50px;
        color: var(--primary);
      }

      h5 {
        color: #333;
      }

      .our_process_cards {
        display: flex;
        gap: 1em;

        .card {
          width: 50%;
          /* flex-basis: 50%; */

          .card_icon {
            background-color: var(--lighter);
            padding: 0.3em 0.5em;
            border-radius: 50%;
          }

          .card_title {
            color: var(--primary);
            font-weight: bolder;
            font-size: 25px;
          }

          .card_info {
            font-size: 15px;
          }

          .socials {
            display: none;
          }
        }
      }

      .buttons {
        display: flex;
        gap: 1em;

        .arrow {
          background-color: var(--lighter);
          padding: 0.3em 0.5em;
          border-radius: 50%;
          border: 0.5px solid #3333334f;
          color: #3333334f;
        }
      }
    }
  }

  .members {
    h3 {
      color: var(--secondary);
    }

    h1 {
      color: var(--primary);
      font-size: 50px;
    }

    h5 {
      color: #333;
    }

    .members_cards {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3em;
      margin-top: 6em;

      .card {
        flex-basis: 33%;
        background-color: var(--lighter);
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .card_icon {
          position: absolute;
          top: 1%;
          margin-top: -20%;
        }

        .card_title {
          font-weight: bolder;
          padding-bottom: 1.5em;
        }

        .card_info {
          color: #333;
          padding-bottom: 3em;
        }

        .socials {
          display: flex;
          gap: 1em;

          i {
            font-size: 30px;
            background-color: var(--lightest);
            border: 0.5px solid #33333356;
            border-radius: 50%;
            color: var(--secondary);
          }

          .facebook {
            i {
              padding: 0.3em 0.5em;
            }
          }

          .twitter {
            i {
              padding: 0.3em;
            }
          }

          .instagram {
            i {
              padding: 0.3em 0.4em;
            }
          }
        }
      }
    }

    .buttons {
      display: flex;
      gap: 1em;
      justify-content: center;
      align-items: center;

      .arrow {
        background-color: var(--lighter);
        padding: 0.3em 0.5em;
        border-radius: 50%;
        border: 0.5px solid #3333334f;
        color: #3333334f;
      }
    }
  }
}

/* #endregion Main */


/* #region Footer */

/* #endregion Footer */