/*
###############
- Debug
- Common
- Utilities
- MediaQuery
- Header
- Main
- Footer
###############
*/


/* #region Debug */

/* #endregion Debug */


/* #region Common */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Orbitron", sans-serif;
}

:root {
  --primary: #311852;
  --secondary: #4d36dc;
  --danger: #ff7a1f;
  --lightest: #ffffff;
  --lighter: #fff9f5;
  --light: #f7f0ff;
  --boring: #8d829c;
}

button {
  border-style: none;
}

/* #endregion Common */


/* #region Utilities */
.container {
  width: 80%;
  max-width: 1400px;
  margin: 0 auto;
}

.my_btn {
  padding: 1em 3em;
  border-radius: 30px;
}

.df {
  display: flex;
}

.just_center {
  justify-content: center;
}

.align_center {
  align-items: center;
}

.spacing {
  padding: 6rem 0;
}

.little_space {
  padding: 3rem 0;
}

.card {
  background-color: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  border: 1px solid var(--boring);
  padding: 1.5em;
  aspect-ratio: 3 / 4;
  justify-content: space-evenly;
  align-items: center;

  .card_icon {
    font-size: 100px;
  }

  .card_title {
    color: var(--primary);
    font-size: 40px;
  }

  .card_info {
    color: #333;
    font-size: 20px;
  }
}

/* #endregion Utilities */


/* #region MediaQuery */

/* #region Desktops & Large screens */
@media screen and (max-width: 1200px) {
  /* Desktops & Large screens */
}

/* #endregion Desktops & Large screens */

/* #region Small screens & Laptops */
@media screen and (max-width: 1024px) {
  /* Small screens & Laptops */
}

/* #endregion Small screens & Laptops */

/* #region iPads & Tablets */
@media screen and (max-width: 768px) {
  /* iPads & Tablets */
}

/* #endregion iPads & Tablets */

/* #region Mobile */
@media screen and (max-width: 480px) {
  /* Mobile */
}

/* #endregion Mobile */

/* #endregion MediaQuery */


/* #region Header */
.header {
  background: url(../../../public/img/banner-bg.png);
  background-size: cover;

  #header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 0;
    /* background-image: url(../img/banner-bg.png); */
    /* background: url(../../../public/img/banner-bg.png); */

    .center_header {
      display: flex;
      gap: 1em;
      color: var(--lightest);
      position: relative;

      .moon {
        background: url(../../../public/img/globe3.png);
        background-repeat: no-repeat;
        opacity: 50%;
        position: absolute;
        top: -200px;
        left: 20px;
        width: 300px;
        height: 300px;
        background-size: contain;
        z-index: 2;
      }
    }
  }
}

/* #endregion Header */


/* #region Main */
#main {
  text-align: center;
  margin-top: -10px;

  .slogan {
    background: url(../../../public/img/banner-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 70%;
    position: relative;

    .moon1 {
      background: url(../../../public/img/globe1.png);
      background-repeat: no-repeat;
      position: absolute;
      top: 6%;
      left: 13%;
      width: 200px;
      height: 200px;
      background-size: contain;
      z-index: 2;
    }

    .moon2 {
      background: url(../../../public/img/globe2.png);
      background-repeat: no-repeat;
      position: absolute;
      top: 8%;
      left: 60.5%;
      width: 100px;
      height: 100px;
      background-size: contain;
      z-index: 2;
    }

    .ship {
      background: url(../../../public/img/light.png);
      background-repeat: no-repeat;
      position: absolute;
      top: 0.5%;
      left: 80%;
      width: 100px;
      height: 100px;
      background-size: contain;
      z-index: 2;
    }

    .man1 {
      background: url(../../../public/img/left-man.png);
      background-repeat: no-repeat;
      position: absolute;
      top: 20%;
      left: 0%;
      width: 500px;
      height: 500px;
      background-size: contain;
      z-index: 2;
    }

    .man2 {
      background: url(../../../public/img/right-man.png);
      background-repeat: no-repeat;
      position: absolute;
      top: 20%;
      left: 84.8%;
      width: 500px;
      height: 500px;
      background-size: contain;
      z-index: 2;
    }

    .stars1 {
      background: url(../../../public/img/dots-left.png);
      background-repeat: no-repeat;
      position: absolute;
      top: 8%;
      left: 8%;
      width: 1000px;
      height: 1000px;
      background-size: contain;
      z-index: 2;
    }

    .stars2 {
      background: url(../../../public/img/dots-right.png);
      background-repeat: no-repeat;
      position: absolute;
      top: 1%;
      left: 43%;
      width: 1000px;
      height: 1000px;
      background-size: contain;
      z-index: 2;
    }

    .up_shape:before {
      content: "";
      position: absolute;
      bottom: -60%;
      left: 0;
      width: 100%;
      height: 100%;
      background: url(./img/bottom-shape.png);
      background-size: 100vw;
      background-repeat: no-repeat;
    }

    .prova {
      position: absolute;
      background-color: var(--lightest);
      height: 300px;
      bottom: 15%;
      left: 0;
    }

    .danger {
      color: var(--danger);
    }

    h1 {
      font-size: 65px;
      color: var(--lighter);
      z-index: 999;
    }

    h4 {
      color: var(--boring);
    }

    .btn_middle {
      position: relative;
      z-index: 9999;
    }

    .slogan_video {
      position: relative;
      z-index: 9999;

      img {
        width: 1400px;
      }

      .play {
        position: absolute;
        background-color: #a615ea;
        border-radius: 50%;
        padding: 1.8em 2em;
        font-size: 20px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        a {
          color: var(--lighter);
        }
      }
    }
  }

  .animation_love {
    position: relative;

    .vr_man {
      background: url(../../../public/img/smarttwo.png);
      background-repeat: no-repeat;
      position: absolute;
      top: -27.5%;
      left: -25%;
      width: 1500px;
      height: 1500px;
      background-size: contain;
      z-index: -1;
    }

    .ship {
      background: url(../../../public/img/smart4.png);
      background-repeat: no-repeat;
      position: absolute;
      top: 85%;
      left: 87%;
      width: 200px;
      height: 200px;
      background-size: contain;
      z-index: 4;
    }

    h3 {
      color: var(--secondary);
    }

    h1 {
      color: var(--primary);
      font-size: 50px;
    }

    h5 {
      color: #333;
    }

    .our_skills_cards {
      display: flex;
      gap: 1em;
      justify-content: flex-end;

      .card {
        width: calc((100% / 12) * 3);
        background-color: var(--light);

        .card_icon {
          color: var(--boring);
        }

        .card_title {
          font-weight: bolder;
          font-size: 35px;
        }

        .socials {
          display: none;
        }
      }

      .card_love:hover {
        background-color: rgba(255, 166, 0, 0.199);
      }
    }
  }

  .quick_facts {
    background: url(../../../public/img/counter-bg.png);
    background-size: cover;
    position: relative;

    .up_shape:before {
      content: "";
      position: absolute;
      bottom: -15%;
      left: 0;
      width: 100%;
      height: 250px;
      background: url(./img/bottom-shape.png);
      transform: scaleY(60%);
      background-size: 100vw;
      background-repeat: no-repeat;
    }

    .up_shape:after {
      content: "";
      position: absolute;
      bottom: 79.2%;
      left: 0;
      width: 100%;
      height: 250px;
      background: url(./img/bottom-shape.png);
      transform: scaleY(60%) rotate(180deg);
      background-size: 100vw;
      background-repeat: no-repeat;
      z-index: 3;
    }

    .moon {
      background: url(../../../public/img/globe1.png);
      background-repeat: no-repeat;
      position: absolute;
      top: 6%;
      left: 34.5%;
      width: 600px;
      height: 600px;
      background-size: contain;
      z-index: 2;
      opacity: 50%;
    }

    h1 {
      color: var(--lighter);
      font-size: 50px;
      position: relative;
      z-index: 9999;
    }

    .our_anidio_cards {
      display: flex;
      gap: 3em;
      justify-content: center;
      align-items: center;

      .card {
        width: calc((100% / 12) * 4);
        background-color: transparent;
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 250px;
        z-index: 9999;

        .card_icon {
          display: none;
        }

        .card_title {
          color: var(--lighter);
          font-weight: bolder;
          font-size: 50px;
        }

        .card_info {
          color: var(--danger);
          font-size: 15px;
        }

        .socials {
          display: none;
        }
      }
    }
  }

  .our_works {

    h3 {
      color: var(--secondary);
    }

    h1 {
      font-size: 50px;
      color: var(--primary);
    }

    h5 {
      color: #333;
    }

    .our_works_cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 3em;
    }

    .space_bottom {
      padding-bottom: 6rem;
    }
  }

  .our_process {
    display: flex;
    justify-content: flex-end;
    position: relative;

    .ship {
      background: url(../../../public/img/smart4.png);
      background-repeat: no-repeat;
      position: absolute;
      top: 80%;
      left: 93%;
      width: 200px;
      height: 200px;
      background-size: contain;
      z-index: 2;
    }

    .left {
      background: url(../../../public/img/process-thumb.png);
      background-repeat: no-repeat;
      position: absolute;
      top: 0%;
      left: -25%;
      width: 800px;
      height: 800px;
      background-size: contain;
      z-index: 2;
    }

    .right {
      flex-basis: 50%;


      h3 {
        color: var(--secondary);
        text-align: start;
      }

      h1 {
        font-size: 50px;
        color: var(--primary);
        text-align: start;
      }

      h5 {
        color: #333;
        text-align: start;
      }

      .our_process_cards {
        display: flex;
        gap: 1em;

        .card {
          width: 40%;
          /* flex-basis: 50%; */
          border-color: #3333331f;

          .card_icon {
            background-color: var(--lighter);
            padding: 0.3em 0.5em;
            border-radius: 50%;
          }

          .card_title {
            color: var(--primary);
            font-weight: bolder;
            font-size: 25px;
          }

          .card_info {
            font-size: 15px;
          }

          .socials {
            display: none;
          }
        }
      }

      /* ## CAN MOVE AS A COMMON COMPONENT ## */
      .buttons {
        display: flex;
        gap: 1em;

        .left_arrow,
        .right_arrow {
          background-color: var(--lighter);
          padding: 0.8em 1em;
          border-radius: 50%;
          border: 0.5px solid #3333334f;
          color: #3333334f;
        }

        .left_arrow:hover {
          background-color: var(--danger);
          color: var(--lightest);
          padding: 0;
          border: none;

          i {
            padding: 0.8em 1.04em;
            line-height: 1.3em;
          }
        }

        .right_arrow:hover {
          background-color: var(--danger);
          color: var(--lightest);
          padding: 0;
          border: none;

          i {
            padding: 0.8em 1.04em;
            line-height: 1.3em;
          }
        }
      }
    }
  }

  .members {
    position: relative;

    .moon1 {
      background: url(../../../public/img/shape.png);
      background-repeat: no-repeat;
      position: absolute;
      top: 16%;
      left: 0%;
      width: 1000px;
      height: 1000px;
      background-size: cover;
      z-index: 5;
      /* background: linear-gradient(to bottom, transparent, red); */
    }

    .moon2 {
      background: url(../../../public/img/shape2.png);
      background-repeat: no-repeat;
      position: absolute;
      top: 6%;
      left: 48%;
      width: 1000px;
      height: 1000px;
      background-size: cover;
      z-index: 2;
    }

/*     .moon3 {
      background: url(../../../public/img/shape.png);
      background-repeat: no-repeat;
      position: absolute;
      top: 31.5%;
      left: 0%;
      width: 1000px;
      height: 1000px;
      transform: rotateX(180deg);
      background-size: cover;
      z-index: 1;
      background-image: linear-gradient(to top, transparent, transparent);
    } */

    h3 {
      color: var(--secondary);
    }

    h1 {
      color: var(--primary);
      font-size: 50px;
    }

    h5 {
      color: #333;
    }

    .members_cards {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3em;
      margin-top: 6em;

      .card {
        flex-basis: 33%;
        background-color: var(--lighter);
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        border: none;
        z-index: 9999;

        .card_icon {
          position: absolute;
          top: 1%;
          margin-top: -20%;
        }

        .card_title {
          font-weight: bolder;
          padding-bottom: 1.5em;
        }

        .card_info {
          color: #333;
          padding-bottom: 3em;
        }

        .socials {
          display: flex;
          gap: 1em;

          i {
            font-size: 30px;
            background-color: var(--lightest);
            border: 0.5px solid #33333356;
            border-radius: 50%;
            color: var(--secondary);
          }

          .facebook {
            :hover {
              background-color: var(--danger);
              color: var(--lightest);
              cursor: pointer;
            }

            i {
              padding: 0.3em 0.5em;
            }
          }

          .twitter {
            :hover {
              background-color: var(--danger);
              color: var(--lightest);
              cursor: pointer;
            }

            i {
              padding: 0.3em;
            }
          }

          .instagram {
            :hover {
              background-color: var(--danger);
              color: var(--lightest);
              cursor: pointer;
            }

            i {
              padding: 0.3em 0.4em;
            }
          }
        }
      }
    }

    /* ## CAN MOVE AS A COMMON COMPONENT ## */
    .buttons {
      display: flex;
      justify-content: center;
      gap: 1em;

      .left_arrow,
      .right_arrow {
        background-color: var(--lighter);
        padding: 0.8em 1em;
        border-radius: 50%;
        border: 0.5px solid #3333334f;
        color: #3333334f;
      }

      .left_arrow:hover {
        background-color: var(--danger);
        color: var(--lightest);
        padding: 0;
        border: none;

        i {
          padding: 0.8em 1.04em;
          line-height: 1.3em;
        }
      }

      .right_arrow:hover {
        background-color: var(--danger);
        color: var(--lightest);
        padding: 0;
        border: none;

        i {
          padding: 0.8em 1.04em;
          line-height: 1.3em;
        }
      }
    }
  }

  .clients {
    h3 {
      color: var(--secondary);
    }

    h1 {
      color: var(--primary);
      font-size: 50px;
    }

    h4 {
      color: #333;
    }

    .clients_cards {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .tips {
    background: url(../../../public/img/counter-bg.png);
    background-size: cover;
    position: relative;

    .up_shape:before {
      content: "";
      position: absolute;
      bottom: -16%;
      left: 0;
      width: 100%;
      height: 250px;
      background: url(./img/bottom-shape.png);
      transform: scaleY(60%);
      background-size: 100vw;
      background-repeat: no-repeat;
    }

    .up_shape:after {
      content: "";
      position: absolute;
      bottom: 78%;
      left: 0;
      width: 100%;
      height: 250px;
      background: url(./img/bottom-shape.png);
      transform: scaleY(60%) rotate(180deg);
      background-size: 100vw;
      background-repeat: no-repeat;
    }

    h3 {
      color: var(--danger);
    }

    h1 {
      color: var(--lightest);
      font-size: 50px;
    }

    h5 {
      color: var(--lightest);
    }

    form {
      position: relative;
      /* margin: 3em 0; */

      input {
        width: 50%;
        padding: 2em;
        border-radius: 40px;
        border: none;
      }

      .button {
        position: absolute;
        right: 26%;
        top: 42%;

        >button {
          background-color: var(--secondary);
        }
      }
    }
  }
}

/* #endregion Main */


/* #region Footer */
.top {
  display: flex;
  justify-content: space-between;
  margin-top: 6rem;

  .footer_info {
    display: flex;
    align-items: center;
    gap: 1em;
  }
}

.bottom_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .left {
    color: #333;

    a {
      text-decoration: none;
      color: var(--secondary);
      font-weight: bold;
    }
  }

  .right {

    .socials {
      display: flex;
      gap: 1em;

      i {
        font-size: 20px;
        background-color: var(--lightest);
        border: 0.5px solid #33333356;
        border-radius: 50%;
        color: var(--secondary);
      }

      .facebook {
        :hover {
          background-color: var(--danger);
          color: var(--lightest);
          cursor: pointer;
        }

        i {
          padding: 0.3em 0.5em;
        }
      }

      .twitter {
        :hover {
          background-color: var(--danger);
          color: var(--lightest);
          cursor: pointer;
        }

        i {
          padding: 0.3em;
        }
      }

      .instagram {
        :hover {
          background-color: var(--danger);
          color: var(--lightest);
          cursor: pointer;
        }

        i {
          padding: 0.3em 0.4em;
        }
      }
    }
  }
}

/* #endregion Footer */